<ion-list>

        <div class="button-bar bar-positive">
                <a class="button" ng-class="selectedType===type ? 'button-dark' : ''" 
                   ng-repeat="type in ['Past', 'Future']" ng-click="getSchedule(type)">
                        {{ type }}
                </a>
        </div>

        <ion-item ng-class="selectedType=='Future' ? 'item-icon-left' : null " ng-repeat="brewday in brewdays"
                  ng-click="getShoppingList($index)">
                <span class="item-note"> {{ moment(brewday.get("date")).format("D/M/YY") }}</span>
                {{ brewday.get("recipe").get("name") }}
                <i class="icon ion-ios7-help-empty" ng-show="brewday.ingredientsOnHand==0"></i>
                <i class="icon ion-ios7-checkmark-empty" ng-show="brewday.ingredientsOnHand==1"></i>
                <i class="icon ion-ios7-close-empty" ng-show="brewday.ingredientsOnHand==-1"></i>                
        </ion-item>

</ion-list>
